################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Anticipack/Anticipack/bin/Debug
/Anticipack/Anticipack/obj
/Anticipack/.vs
/Anticipack/Anticipack/Anticipack.csproj.user
/Anticipack/Anticipack.API/bin/Debug/net9.0
/Anticipack/Anticipack.API/obj
