@page "/"
@inherits LayoutComponentBase

<link href="css/app.css" rel="stylesheet" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
