.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.sidebar {
    background-color: var(--background);
}

.content {
    padding: 1rem;
}

/* Tablet breakpoint: 641px - 1023px */
@media (min-width: 641px) and (max-width: 1023px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

/* Desktop breakpoint: 1024px+ */
@media (min-width: 1024px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
