@page "/"
@inherits LayoutComponentBase

<link href="css/app.css" rel="stylesheet" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div>
            @Body
        </div>
    </main>
</div>
