<div class="nav-container">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/packing-activity">Anticipack</a>
        </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" id="nav-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/packing-activity">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Packing
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/packing-activities">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Packing Activities
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/packing-dialog">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Packing Dialog
                </NavLink>
            </div>
        </nav>
    </div>
</div>
